/* ------------contact us -------------------------- */
.imgHeadingContacts{
    background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url('../../assets/images/contacts_top.jpg') no-repeat center;
}
.contact_main_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_upper_cont{
    padding: 5rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.address_map{
    width: 50%;
    min-width: 300px;
    height: 60vh;
}
.address_map iframe{
    width: 100%;
    height: 100%;
}
.contact_info_main{
    width: 40%;
    padding: 3rem;
    background-color: #f1f3f4;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cont_info_box{
    width: 100%;
    text-align: center;
    gap: 1rem;
    font-family: var(--primary-font);
}
.cont_info_title{
    font-family: var(--secondary-font);
    text-transform: uppercase;
    justify-content: center;
    color: var(--secondary-clr); 
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}
.cont_info_head{
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-bottom: 0.3rem;
}

.contact_cont{
    padding: 5rem 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-clr);
}
.contact_form{
    font-family: var(--primary-font);
    width: 40%;
    min-width: 300px;
    padding: 2rem;
    color: white;
}
.contact_cont .contact_form input, .contact_cont .contact_form textarea{
    background: transparent;
    color: white;
    outline: 2px solid white;
    border: 1px solid var(--secondary-clr);
}
.contact_cont .contact_form input::placeholder, .contact_cont .contact_form textarea::placeholder{
    color: white;
}
.contact_form_img1{
    width: 45%;
}
.contact_form_img1 img{
    width: 100%;
}


@media (max-width: 540px) {
  .contact_upper_cont, .contact_cont{
    padding: 3rem 1.5rem;
  }
  .address_map{
    width: 100%;
    margin-bottom: 1rem;
  }
  .contact_info_main{
    width: 100%;
    padding: 2rem;
  }
  .cont_info_head{
    font-size: 1.1rem;
  }
  .cont_info_details{
    font-size: 0.9rem;
  }
  .contact_form{
    width: 100%;
}
.contact_form_img1{
    margin-bottom: 1rem;
    width: 100%;
  }
}